---
- name: Ensure that directories are created
  ansible.builtin.file:
    path: "{{ item.path }}"
    owner: "{{ item.owner | default('root') }}"
    group: "{{ item.group | default('root') }}"
    mode: "{{ item.mode | default('0755') }}"
    state: directory
  loop: "{{ federation_registry_dirs }}"

- name: Copy configuration files
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest | default(item.src) }}"
    owner: "{{ item.owner | default('root') }}"
    group: "{{ item.group | default('root') }}"
    mode: "{{ item.mode | default('0644') }}"
  loop: "{{ federation_registry_files }}"
  notify:
    - Restart all containers of RCIAM federation registry
  tags:
    - configuration


- name: Place configuration files from the templates
  ansible.builtin.template:
    src: "{{ item.src }}.j2"
    dest: "{{ item.dest | default(item.src) }}"
    owner: "{{ item.owner | default('root') }}"
    group: "{{ item.group | default('root') }}"
    mode: "{{ item.mode | default('0644') }}"
  loop: "{{ federation_registry_templates }}"
  notify:
    - Restart all containers of RCIAM federation registry
  tags:
    - configuration

- name: Place configuration files for the AMS agents
  ansible.builtin.copy:
    src: "{{ item.config }}"
    dest: "{{ item.config_dest | default([federation_registry_config_path, 'ams-agent'] | join('/')) }}"
    owner: "{{ item.owner | default('root') }}"
    group: "{{ item.group | default('root') }}"
    mode: "{{ item.mode | default('0644') }}"
  loop: "{{ federation_registry_ams_agents }}"
  notify:
    - Restart all containers of RCIAM federation registry
  tags:
    - configuration

- name: Place configuration files for the RabbitMQ agents
  ansible.builtin.copy:
    src: "{{ item.config }}"
    dest: "{{ item.config_dest | default([federation_registry_config_path, 'rabbitmq-agent'] | join('/')) }}"
    owner: "{{ item.owner | default('root') }}"
    group: "{{ item.group | default('root') }}"
    mode: "{{ item.mode | default('0644') }}"
  loop: "{{ federation_registry_rabbitmq_agents }}"
  notify:
    - Restart all containers of RCIAM federation registry
  tags:
    - configuration

- name: Ensure federation_registry docker-compose has started
  community.docker.docker_compose_v2:
    project_src: "{{ federation_registry_config_path }}"
    state: present