default_user = '{{ backend_rabbitmq_user }}'
default_pass = '{{ backend_rabbitmq_password }}'
default_vhost = '{{ backend_rabbitmq_vhost }}'
default_user_tags.administrator = false
log.console = true
log.console.formatter.plaintext.format = [$level] $pid $msg
log.file = false
loopback_users = none