{{ ansible_managed | comment}}

services:
  frontend:
    image: "cerit.io/khomutskyi/federation-registry-frontend:{{ deployment_id }}"
    network_mode: host
    restart: unless-stopped
    volumes:
      - {{ federation_registry_config_path }}/frontend-config/nginx.conf:/etc/nginx/nginx.conf:ro
      - {{ federation_registry_config_path }}/frontend-config/nginx-frontend.conf:/etc/nginx/conf.d/nginx-frontend.conf:ro
      - {{ federation_registry_config_path }}/frontend-config/federation-registry-cert.pem:/etc/ssl/certs/federation-registry-cert.pem:ro
      - {{ federation_registry_config_path }}/frontend-config/federation-registry-key.pem:/etc/ssl/private/federation-registry-key.pem:ro
      - {{ federation_registry_config_path }}/frontend-config/img/:/var/www/federation_registry_frontend/img/:ro
      - {{ federation_registry_config_path }}/frontend-config/.well-known/:/var/www/federation_registry_frontend/.well-known/:ro
      - /etc/localtime:/etc/localtime:ro
    depends_on:
      backend-api:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-q", "--tlsv1.3", "--max-time", "1", "--retry", "3", "-sfN", "--false-start", "--insecure", "--curves", "X25519:prime256v1", "-o", "/dev/null", "--head", "https://localhost/index.html"]
      interval: 1m
      retries: 1
      start_period: 10s
      start_interval: 1s
    ulimits:
      nofile:
        soft: 16384
        hard: 16384
    cpu_shares: 30
    hostname: "frontend.{{ deployment_id }}"
    container_name: rciam-registry_frontend

  backend-api:
    image: cerit.io/khomutskyi/federation-registry-backend-api:latest
    restart: unless-stopped
    networks:
      backend:
        ipv4_address: 172.19.0.80
        ipv6_address: fd77:fed:bac::80

    volumes:
      - {{ federation_registry_config_path }}/backend-config/config.json:/app/JavaScript/config.json:ro
      - {{ federation_registry_config_path }}/backend-config/email_transport_conf.json:/app/JavaScript/email_transport_conf.json:ro
      - {{ federation_registry_config_path }}/backend-config/db-config.json:/app/db-config/db-config.json:ro
      - {{ federation_registry_config_path }}/backend-config/tenant-config/:/app/JavaScript/tenant_config/:ro
      - {{ federation_registry_config_path }}/backend-config/.env:/app/JavaScript/.env:ro
      - {{ federation_registry_log_path }}/backend-api-errors.log:/app/JavaScript/db/errors.log:rw
      - {{ federation_registry_log_path }}/backend-api:/app/JavaScript/logs/:rw
      - /etc/localtime:/etc/localtime:ro
    depends_on:
      rabbitmq:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-q", "--http1.1", "--max-time", "1.5", "--retry", "3", "-sfN", "-o", "/dev/null", "http://localhost:5000/tenants/{{ tenant_name }}"]
      interval: 1m
      retries: 1
      start_period: 20s
      start_interval: 2s
    extra_hosts:
      - "host.docker.internal:host-gateway"
    cpu_shares: 35
    hostname: "backend-api.{{ deployment_id }}"
    container_name: rciam-registry_backend-api

### RabbitMQ
  rabbitmq:
    image: cerit.io/khomutskyi/federation-registry-rabbitmq:latest
    restart: unless-stopped
    networks:
      rabbitmq-agent:
        # ipv4_address: 172.20.0.56
        ipv6_address: fd77:fed:abba::56
      deployer:
        ipv4_address: 172.21.0.56
        ipv6_address: fd77:fed:de::56
    volumes:
      - {{ federation_registry_config_path }}/rabbitmq:/etc/rabbitmq:ro
      - /var/lib/rciam-registry/rabbitmq:/var/lib/rabbitmq:rw
      - /etc/localtime:/etc/localtime:ro
    environment:
      # Tune for lower resource usage for mostly idle RabbitMQ. Reduce the number of scheduler threads, lower limits, increase the GC interval.
      RABBITMQ_SERVER_ADDITIONAL_ERL_ARGS: "+S 1:1 +SDio 1 +P 1024 +Q 1024 +t 50000 +swct very_lazy +swt very_high +scl false +zdntgc 900"
    healthcheck:
      test: [ "CMD", "rabbitmq-diagnostics", "--timeout", "2", "-q", "ping" ]
      interval: 90s
      retries: 2
      start_period: 90s
      start_interval: 4s
    cpu_shares: 15
    hostname: "rabbitmq.{{ deployment_id }}"
    container_name: rciam-registry_rabbitmq
### Deployer
{% for deployer_item in federation_registry_deployers %}
  deployer-{{ deployer_item.name }}:
    image: cerit.io/khomutskyi/federation-registry-deployer:latest
    restart: unless-stopped
    networks:
      deployer:
        ipv4_address: "172.21.0.{{ deployer_item.id }}"
        ipv6_address: "fd77:fed:de::{{ deployer_item.id }}"
    volumes:
      - {{ federation_registry_config_path }}/deployer/{{ deployer_item.config_dir | basename }}:/app/conf:ro
      - /etc/localtime:/etc/localtime:ro
    depends_on:
      backend-api:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    cpu_shares: 10
    hostname: "deployer-{{ deployer_item.name }}.{{ deployment_id }}"
    container_name: rciam-registry_deployer-{{ deployer_item.name }}
{% endfor %}

### Agents
{% for rabbitmq_agent_item in federation_registry_rabbitmq_agents %}
  rabbitmq-agent-{{ rabbitmq_agent_item.name }}:
    depends_on:
      backend-api:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    image: cerit.io/khomutskyi/federation-registry-backend-rabbitmq-agent:latest
    restart: unless-stopped
    networks:
      backend:
        ipv4_address: "172.19.0.{{ rabbitmq_agent_item.id }}"
        ipv6_address: "fd77:fed:bac::{{ rabbitmq_agent_item.id }}"
      rabbitmq-agent:
        ipv6_address: "fd77:fed:abba::{{ rabbitmq_agent_item.id }}"
    volumes:
      - {{ federation_registry_config_path }}/rabbitmq-agent/{{ rabbitmq_agent_item.config | basename }}:/app/config.json:ro
      - /etc/localtime:/etc/localtime:ro
    cpu_shares: 10
    hostname: "rabbitmq-agent-{{ rabbitmq_agent_item.name }}.{{ deployment_id }}"
    container_name: rciam-registry_rabbitmq-agent-{{ rabbitmq_agent_item.name }}

{% endfor %}
networks:
    backend:
      name: rciam-registry_backend
      ipam:
        driver: default
        config:
          - subnet: "172.19.0.0/24"
          - subnet: "fd77:fed:bac::/64"
      enable_ipv4: true
      enable_ipv6: true
      driver_opts:
        com.docker.network.bridge.name: rcr_backend
        com.docker.network.container_iface_prefix: backend
        com.docker.network.driver.mtu: 9000

    rabbitmq-agent:
      name: rciam-registry_rabbitmq-agent
      ipam:
        driver: default
        config:
          - subnet: "172.20.0.0/24"
          - subnet: "fd77:fed:abba::/64"
      enable_ipv4: false
      enable_ipv6: true
      internal: true
      driver_opts:
        com.docker.network.bridge.name: rcr_rmq-agent
        com.docker.network.container_iface_prefix: rmq-agent
        com.docker.network.driver.mtu: 65535

    deployer:
      name: rciam-registry_deployer
      ipam:
        driver: default
        config:
          - subnet: "172.21.0.0/24"
          - subnet: "fd77:fed:de::/64"
      enable_ipv4: true
      enable_ipv6: true
      driver_opts:
        com.docker.network.bridge.name: rcr_deployer
        com.docker.network.container_iface_prefix: deployer
        # com.docker.network.driver.mtu: 9000