{{ ansible_managed | comment}}

services:
  frontend:
    image: "cerit.io/khomutskyi/federation-registry-frontend:{{ deployment_id }}"
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - {{ federation_registry_config_path }}/frontend-config/nginx-frontend.conf:/etc/nginx/conf.d/nginx-frontend.conf:ro
      - {{ federation_registry_config_path }}/frontend-config/federation-registry-cert.pem:/etc/ssl/certs/federation-registry-cert.pem:ro
      - {{ federation_registry_config_path }}/frontend-config/federation-registry-key.pem:/etc/ssl/private/federation-registry-key.pem:ro
    depends_on:
      - backend-api
    healthcheck:
      test: ["CMD", "curl", "--insecure", "-f", "https://localhost/federation-backend/tenants/"]
      interval: 1m
      retries: 3
      start_period: 30s
      start_interval: 5s
    container_name: rciam-registry_frontend

  backend-api:
    image: cerit.io/khomutskyi/federation-registry-backend-api:latest
    restart: unless-stopped
    volumes:
      - {{ federation_registry_config_path }}/backend-config/config.json:/app/JavaScript/config.json:ro
      - {{ federation_registry_config_path }}/backend-config/db-config.json:/app/db-config/db-config.json:ro
      - {{ federation_registry_config_path }}/backend-config/tenant-config/:/app/JavaScript/tenant_config/:ro
      - {{ federation_registry_config_path }}/backend-config/.env:/app/JavaScript/.env:ro
      - {{ federation_registry_log_path }}/backend-api-errors.log:/app/JavaScript/db/errors.log
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000/tenants/"]
      interval: 1m
      retries: 3
      start_period: 30s
      start_interval: 5s
    extra_hosts:
      - "host.docker.internal:host-gateway"
    container_name: rciam-registry_backend-api

{% for ams_agent_item in federation_registry_ams_agents %}
  ams-agent-{{ ams_agent_item.name }}:
    image: cerit.io/khomutskyi/federation-registry-backend-ams-agent:latest
    restart: unless-stopped
    volumes:
      - {{ federation_registry_config_path }}/ams-agent/{{ ams_agent_item.config | basename }}:/app/config.json:ro
    depends_on:
        - backend-api
    container_name: rciam-registry_ams-agent-{{ ams_agent_item.name }}

{% endfor %}
{% for rabbitmq_agent_item in federation_registry_rabbitmq_agents %}
  rabbitmq-agent-{{ rabbitmq_agent_item.name }}:
    depends_on:
      - backend-api
    image: cerit.io/khomutskyi/federation-registry-backend-rabbitmq-agent:latest
    restart: unless-stopped
    volumes:
      - {{ federation_registry_config_path }}/rabbitmq-agent/{{ rabbitmq_agent_item.config | basename }}:/app/config.json:ro
    container_name: rciam-registry_rabbitmq-agent-{{ rabbitmq_agent_item.name }}

{% endfor %}
networks:
    default:
      name: rciam-registry_default
